{{ range $tableName, $table := . }}{{ range $columnName, $dest := $table.Relationships }}
    {{ Escape $tableName }}:{{ Escape $columnName }} -- "{{ Escape $dest }}":"id" [arrowtail=dot,color="{{ Color 300 (Hash $tableName) }}"];
{{- end -}}{{- end -}}
