{{ range $tableName, $table := .}}{{range $columnName, $dest := $table.Relationships}}
    "{{$tableName}}":"{{$columnName}}" -- "{{$dest}}" [arrowtail=dot,color="{{Color 300 (Hash $tableName)}}"];
{{- end -}}{{- end -}}
