{{range $tableName, $table := .}}
  {{$tableName}} [label=<<TABLE
      BORDER="0"
      CELLPADDING="0"
      CELLSPACING="0.5"
      WIDTH="134"
      ALIGN="CENTER"
      >
      <TR>
        <TD ALIGN="CENTER" VALIGN="BOTTOM" WIDTH="134">
          <FONT POINT-SIZE="14" FACE="San Francisco bold" COLOR="#263238"><B>{{$tableName}}</B></FONT>
        </TD>
      </TR>
    </TABLE>
    {{- if $table.Columns -}}
    |
    <TABLE
      BORDER="0"
      ALIGN="LEFT"
      CELLPADDING="0"
      CELLSPACING="4"
      WIDTH="134">
      {{- range $columnName, $column := $table.Columns}}
      <TR>
        <TD ALIGN="LEFT">
        <FONT FACE="San Francisco" POINT-SIZE="12" COLOR="#263238">{{- if index $table.Relationships $columnName -}}{{Underline $columnName }}{{- else -}}{{ $columnName }}{{- end -}}</FONT>
        {{- if .Type -}}
          <FONT FACE="San Francisco Italic" POINT-SIZE="10" COLOR="#455A64">&nbsp;{{$column.Type}}</FONT>
        {{- end -}}
        </TD>
      </TR>
      {{- end}}
    </TABLE>
    {{- end -}}>
    ,fillcolor="{{Color 100 $tableName}}",
    style=filled
    ];
{{- end -}}
